# Package Information for pkg-config
prefix=${Env:ProjectRoot}\libsysdev\libsysdev_${Env:OS}_${Env:ARCH}
libdir=${prefix}/lib
includedir=${prefix}/include

Name: Sysdev
Description: System Device Library
Version: 1.0.0
Libs: -L${libdir} -lsysdev
Cflags: -I${includedir}